.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.contact-form {
  flex: 1;
  padding-right: 20px;
}

.contact-info {
  flex: 1;
  padding-left: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.6;
}

/* //////////////////LIVE DEMO SECTION////////////// */

.liveDemoSection {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.liveDemoImage img {
  display: block;
  width: 700px;
  width: 100%;
}

.liveDemoText {
  /* align-items: flex-start; */
  text-align: center;
}

.liveDemoText h2 {
  font-size: 5rem;
  margin: 0;
}

.liveDemoSection button {
  padding: 17px 30px;
  border-radius: 20px;
  background-color: rgb(104, 174, 197);
  color: white;
  border: none;
  font-family: "Be Vietnam Pro", sans-serif;
}
