/* //////////////HERO SECTION STYLING /////////////////// */

.HeroSectionContainer {
  background: rgb(174, 205, 238);
  background: linear-gradient(
    180deg,
    rgba(174, 205, 238, 1) 0%,
    rgba(148, 233, 221, 0.020045518207282953) 100%
  );
}
.HeroSection {
  display: flex;
  height: 70vh;
  max-width: 1200px;
  margin: 0 auto;
}

/* ////////////////////LEFT SECTION //////////////////// */

.leftHeroSection {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leftHeroSection,
.rightHeroSection {
  width: 50%;
}

.leftHeroSection h1 {
  font-size: 5rem;
  margin: 0;
  color: #0075aa;
  text-transform: uppercase;
}

.leftHeroSection h1 span {
  /* color: #ef8641; */
  color: #d93f2f;
}

.leftHeroSection h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 30px 0;
  width: 85%;
}

.heroButtons {
  display: flex;
  gap: 1em;
  margin-top: 50px;
}

.heroButtons a {
  transition: all 0.2s ease-in-out;
}

.heroButtons a:hover {
  transform: scale(1.1);
}

.heroButtons a:active {
  transform: scale(1);
}

.heroButtons img {
  height: 50px;
}

/* ////////////////////////RIGHT SECTION//////////////////// */

.rightHeroSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peekContainer {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  margin-right: 20px;
}

.rightHeroSection img {
  width: 80%;
}

/* .bounce-image {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
} */

/* //////////////////////MEDIA QUERY///////////////// */

@media (max-width: 1100px) {
  .HeroSection {
    flex-direction: column;
    height: auto;
  }

  .leftHeroSection {
    text-align: center;
    align-items: center;
    padding: 200px 0;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 50px;
  }
  .rightHeroSection {
    width: 100%;
  }
  .peekContainer {
    margin-right: 0;
    justify-content: center;
  }
  .peekContainer img {
    height: 350px;
  }
}

@media (max-width: 650px) {
  .leftHeroSection h1 {
    font-size: 4rem;
  }
  .leftHeroSection h2 {
    font-size: 1rem;
    width: 50%;
  }
}

@media (max-width: 520px) {
  .leftHeroSection h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .leftHeroSection h1 {
    font-size: 2.3rem;
  }
  .leftHeroSection h2 {
    font-size: 1rem;
    width: 70%;
  }
  .heroButtons {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .leftHeroSection h1 {
    font-size: 2rem;
  }
}
