.HeroSectionContainer {
  /* background-color: rgb(255, 242, 231); */
  background: rgb(174, 205, 238);
  background: linear-gradient(
    180deg,
    rgba(174, 205, 238, 1) 0%,
    rgba(148, 233, 221, 0.020045518207282953) 100%
  );
}
.HeroSection {
  display: flex;
  height: 70vh;
  max-width: 1200px;
  margin: 0 auto;
}

/* .peekContainer:hover .peekImage {
  transform: translateY(0);
} */

.leftHeroSection {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leftHeroSection,
.rightHeroSection {
  width: 50%;
}

.leftHeroSection h1 {
  font-size: 5rem;
  margin: 0;
}

.heroButtons {
  display: flex;
  gap: 1em;
  margin-top: 50px;
}

.rightHeroSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightHeroSection img {
  width: 100%;
}

/* .bounce-image {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
} */
