/* Modal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 500px;
  color: black;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 10px;
  border-radius: 50px;
  background-color: #0075aa;
  color: white;
  padding: 10px 22px;
  cursor: pointer;
  border: 1px solid #0075aa;
  font-weight: bold;
}

.modal-content button:hover {
  background-color: white;
  color: black;
  border-color: #0075aa;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 500px;
}

.scrollable-content {
  max-height: 600px;
  overflow-y: auto;
  text-align: left;
}

.scrollable-content h4 {
  padding: 10px 0;
}
.scrollable-content p {
  padding: 10px 0;
  font-size: 0.9rem;
}

body.modal-open {
  overflow: hidden;
}

@media (max-width: 600px) {
  .scrollable-content {
    max-height: 300px;
  }
}
