/* //////////////////////VIDEO SECTION//////////////// */

.videoSection {
  /* padding: 100px 0; */
  /* background-color: #92bad9; */
  /* background: rgb(13, 121, 9); */
  /* rgba(31, 187, 146, 0.4654236694677871) 100% */
  background: linear-gradient(
    180deg,
    rgba(13, 121, 9, 0) 0%,
    rgba(174, 205, 238, 0.5) 100%
  );
  padding: 100px;
}

.videoSection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.videoSection.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ///////////////////// TITLE /////////////////////// */
.videoSection h2 {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #0075aa;
  font-size: 2rem;
}

.videoSection h2 .titlecolorchange {
  color: #d93f2f;
}

/* //////////////////// VIDEO ////////////////////////// */

.video {
  display: flex;
  justify-content: center;
}

.video-container {
  position: relative;
  width: 840px;
  height: 472.5px;
  overflow: hidden;
  border-radius: 15px;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/videoCover.jpg"); /* Set the path to your custom thumbnail image */
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail-overlay:hover {
  opacity: 0.9;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 1060px) {
  .videoSection {
    padding-left: 0px;
    padding-right: 0px;
  }

  .video-container {
    width: 560px;
    height: 315px;
  }

  iframe {
    width: 560px;
    height: 315px;
  }
}

@media (max-width: 630px) {
  .video-container {
    width: 420px;
    height: 236.25px;
  }

  iframe {
    width: 420px;
    height: 236.25px;
  }

  .videoSection h2 .title {
    display: block;
  }
}

@media (max-width: 460px) {
  .video-container {
    width: 280px;
    height: 157.5px;
  }

  iframe {
    width: 280px;
    height: 157.5px;
  }
}
