.slideshow-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.slideshow-container img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.imageinslide img {
  width: 500px;
  padding: 100px;
  background-color: lightblue;
  border-radius: 50px;
}
