.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.image-slider {
  max-width: 800px;
  width: 80%;
  overflow: hidden;
}

.image-slide {
  display: flex;
  /* Change the width and transform properties */
  width: calc(100% * 5); /* Adjust the number based on the number of images */
  transition: transform 0.3s ease-in-out;
}

.slide-image {
  width: calc(100% / 5); /* Adjust the width based on the number of images */
  height: auto;
  object-fit: cover;
  padding: 30px; /* Add desired padding value */
  border-radius: 15px; /* Add border radius value */
  background-color: rgb(174, 205, 238);
}

.imageslideContainer {
  border-radius: 15px;
}

.slider-button {
  border: none;
  background-color: white;

  padding: 0.5rem 1rem;
  cursor: pointer;
}

.prev-button img,
.next-button img {
  width: 30px;
  transition: all 0.2s ease-in-out;
}
.prev-button img:hover,
.next-button img:hover {
  transform: scale(1.2);
}

.prev-button img:active,
.next-button img:active {
  transform: scale(1);
}

@media (max-width: 350px) {
  .slide-image {
    padding: 15px;
  }
}
