.BrandsectionContainer {
  background: linear-gradient(
    180deg,
    rgba(174, 205, 238, 0.5) 0%,
    rgba(148, 233, 221, 0.020045518207282953) 100%
  );
}
.Brandsection {
  padding: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.Brandsection h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: #0075aa;
  margin-bottom: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  display: flex;
  align-items: center;

  padding: 20px;
}

.grid-item img {
  /* max-width: 100px; */
  height: auto;
  /* margin-right: 20px; */
  /* padding: 20px; */
  width: 100%;
}

/* .brandimageContainer {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
} */

.brandimage {
  width: 100px;
  /* padding: 20px; */
  background-color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.brandContentContainer h3 {
  color: #0075aa;
  margin-bottom: 15px;
}

.brandContentContainer p {
  font-weight: 300;
  line-height: 1.8;
}

.brand {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.brand.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1020px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (max-width: 570px) {
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  .brandContentContainer {
    text-align: center;
  }
}
